#navbar{
    height: 180px;
}

#navbar-container{
    flex-direction: column;
    padding: 20px 0;
}

#navbar-itens{
    flex-direction: column;
    text-align: center;
    width: 100%;
}

#navbar-itens li:nt-child(2){
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.viajens{
    justify-content: center;
}

.viajens .card{
    margin: 0 20px;
}
